@import url('https://fonts.googleapis.com/css?family=Questrial');



/**
 * Body CSS
 */
 html,
 body {
    background-image: url('../images/background_bmi.jpg') ;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
 }
 
 html,
 body,
 input,
 textarea,
 button {
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
 }
 
 
 
 /**
  * Header CSS
  */
 header {
   position: fixed;
   top: 0;
   right: 0;
   left: 0;
   z-index: 2;
 }
 
 header ul.mui-list--inline {
   margin-bottom: 0;
 }
 
 header a {
   color: #fff;
 }
 
 header table {
   width: 100%;
 }
 
 
 /**
  * Content CSS
  */

  h1 {
    font-family: 'Questrial', sans-serif;
    font-size:40px;
    color: white;
    text-align: center;
    letter-spacing: 0.3px;
}



p.bmi_switcher{
    font-size:12px;
}

#display_message p {
    font-size:15px;
    color: white;
    text-align: center
}

#display_value p {
    font-size:15px;
    color: white;
    text-align: center
}

 #content-wrapper {
   min-height: 100%;
 
   /* sticky footer */
   box-sizing: border-box;
   margin-bottom: -100px;
   padding-bottom: 100px;
 }


 input {
    font-size: 16px;
    padding: 10px 20px 10px 20px;
    margin: 10px;
    background: none;
    color: white;
    border: 1px solid white;
    border-radius: 24px;
}



#bmi_button {
    background-color: orange;
    border: none;
    text-decoration: none;
    color: white;
    padding: 12px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 20px;
}

button{
    margin: 0 auto;
    display: block;
}

#bmi_welcome {
    padding-top: 10%;
    max-width: 80%;
    margin: auto;
    position: relative;

}

#bmi_matt {
    padding-top: 30px;
    max-width: 80%;
    margin: auto;
    position: relative;
    margin-bottom: 0px;
}

#bmi_calc {
    height: 400px;
    width: 500px;
    margin: auto;
    width: 90%;
}




#bmi_message {
  margin-top: 50px;
}

 
 
 /**
  * Footer CSS
  */
 footer {
   box-sizing: border-box;
   height: 100px;
   background-color: none;
   border-top: none;
   padding-top: 35px;
 }

 
