@import url('https://fonts.googleapis.com/css?family=Questrial');



/**
 * Body CSS
 */
 html,
 body {
    background-image: url('../images/background_bmi.jpg') ;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
 }
 
 html,
 body,
 input,
 textarea,
 button {
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
 }
 
 
 
 /**
  * Header CSS
  */
 header {
   position: fixed;
   top: 0;
   right: 0;
   left: 0;
   z-index: 2;
 }
 
 header ul.mui-list--inline {
   margin-bottom: 0;
 }
 
 header a {
   color: #fff;
 }
 
 header table {
   width: 100%;
 }
 
 
 /**
  * Content CSS
  */

  h1 {
    font-family: 'Questrial', sans-serif;
    font-size: 40px;
    color: white;
    text-align: center;
    letter-spacing: 0.3px;
    line-height: 43px;
}



p.bmi_switcher{
    font-size:12px;
}

#display_message p {
    font-size:15px;
    color: white;
    text-align: center
}

#display_value p {
    font-size:15px;
    color: white;
    text-align: center
}

 #content-wrapper {
   min-height: 100%;
 
   /* sticky footer */
   box-sizing: border-box;
   margin-bottom: -100px;
   padding-bottom: 100px;
 }

  .welcome {
  padding-top:5%; 
  padding-bottom:30px;
}



.input_imperial_left_column_1 {
  padding-right:0px !important;
}

.input_imperial_left_column_2 {
  padding-left:0px !important;
 }

 .input_imperial_right_column_1 {
  padding-right:0px !important;
}

.input_imperial_right_column_2 {
  padding-left:0px !important;
 }
 
 

#bmi_button {
    background-color: orange;
    border: none;
    text-decoration: none;
    color: white;
    padding: 12px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}

button{
    margin: 0 auto;
    display: block;
}

#bmi_welcome {
    padding-top: 10%;
    max-width: 80%;
    margin: auto;
    position: relative;

}

#bmi_matt {
    padding-top: 30px;
    max-width: 80%;
    margin: auto;
    position: relative;
    margin-bottom: 0px;
}

#bmi_calc {
    height: 400px;
    width: 500px;
    margin: auto;
    width: 90%;
}




#bmi_message {
  margin-top: 50px;
}

 
 
 /**
  * Footer CSS
  */
 footer {
   box-sizing: border-box;
   height: 100px;
   background-color: none;
   border-top: none;
   padding-top: 35px;
 }


 


 @media screen and (max-width: 570px) {
  

  @media (orientation: landscape) {
    body {
      background-image: url(../images/background_bmi.jpg);
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 300%;
      height: 800px;
      background-attachment: scroll;
    }
  
  }

  body {
    background-color: olive;
  }

  .mui-container.imperial,
  .mui-container.metric {
    padding-left: 50px;
    padding-right: 50px;
}
  
  h1 {
    font-size:32px;
    line-height:35px;
  }

  h3 {
    margin-top: 9px;
  }
  
 #check {
    display:block;
  }

  .welcome {
    padding-top: 4%;
    padding-bottom: 10px;
}

  #bmi_button {
  font-size: 16px;
  } 

  .mui-btn--large {
    height: 47px;
    line-height: 47px;
    padding: 0 22px;
    font-size: 14px;
}

}
 
